@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/************************ Navbar ***************** */
body{
    background-color: #939394;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    max-width: 1500px;
    z-index: 9999;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    transition: all 0.3s ease;
}

.navbar-wh {
    background-color: var(--black);
    height: 60px;
}

.navbar-bg {
    background-color: transparent;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100px;
    max-width: none !important;
    transition: all 0.3s ease;
    z-index: 9999;
}

.navbar-ch {
    background-color: var(--black);
    box-shadow: 0 1px 10px var(--dark-gray);
    height: 60px;
}


/*************************** Logo *********************** */
.head a {
    text-decoration: none;
}

.head h1 {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.head h1 span {
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.head {
    margin-top: 10px;

}

.head img {
    height: 90px;
}



/****************** Main Links ******************** */

.dropdown-list {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-list {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: max-content;
    position: absolute;
    z-index: 99999;
    /* color: #000; */
}

.dropdown:hover .uncut {
    background-color: var(--even);
    box-shadow: 0 1px 10px var(--dark);
}

.dropdown-list a {
    margin: 5px 0px;
    border: none;
}

.head-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-link .heada {
    list-style: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    position: relative;
}

.head-link .heada.heada a:hover {
    color: var(--red);
}

.head-link .heada a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 10px;
    font-size: 18px;
}

.heada::before,
.heada::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.3s ease;
    background: var(--red);
}

.heada:hover::before,
.heada:hover::after {
    width: 100%;
}

.heada::before {
    left: 50%;
    top: 0;
    display: none;
    transition-duration: 0.2s;
}

.heada::after {
    left: 50%;
    bottom: -5px;
    transition-duration: 0.2s;
}

.heada:hover::before,
.heada:hover::after {
    left: 0;
}

/************************** Menu *********************** */
#nav-icon1 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

#nav-icon1 .line {
    display: block;
    position: absolute;
    height: 2px;
    width: 60%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    right: 30%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .50s ease-in-out;
    -moz-transition: .50s ease-in-out;
    -o-transition: .50s ease-in-out;
    transition: .50s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 5px;
}

#nav-icon1 span:nth-child(2) {
    top: 15px;
    transition: 0.3s;
}

#nav-icon1 span:nth-child(3) {
    top: 25px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30% !important;
    width: 50% !important;
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    right: -100px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 30% !important;
    width: 50% !important;
}

.line1 {
    width: 30% !important;
}

.line2 {
    width: 40% !important;
}

.line3 {
    width: 50% !important;
}

@keyframes line {
    0% {
        margin-left: 2000px;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        margin-left: 0px;
    }
}

.line:nth-child(1) {
    animation-delay: 0.5s;
}

.line:nth-child(2) {
    animation-delay: 0.7s;
}

.line:nth-child(3) {
    animation-delay: .9s;
}

.menu {
    display: none;
}

/****************** Media ***************************** */
@media screen and (max-width:800px) {
    .nav-outer{
        margin: 0;
    }
    .nav-items {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: center;
        padding-top: 15px;
    }

    #nav-icon1 {
        display: flex;
        z-index: 9999999;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head {
        margin-left: 25px;
    }

    .topnav.responsive .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--black);
        box-shadow: 1px 0px 50px 10px var(--dark-gray);
        position: fixed;
        width: 50% !important;
        top: 0%;
        right: 0%;
        min-height: 100vh;
        z-index: 99999;
        /* box-shadow: -10px 0px 500px var(--dark); */
        animation: slide-right 0.3s ease;
    }

    .topnav.responsive .nav-items li {
        margin: 10px !important;
        text-align: center;
    }

    .topnav.responsive .nav-items li a {
        width: fit-content;
        color: #fff;
        text-align: center;
    }

    .std-content .col-box {
        min-width: auto;
    }

    @keyframes slide-right {
        0% {
            margin-right: -500px;
        }

        100% {
            margin-right: 0px;
        }
    }

    .topnav.responsive .menu #nav-icon1 {
        position: fixed;
        top: 1%;
        right: 1%;
        z-index: 99999;
        margin-right: -3px;
        margin-top: 5.5px;
    }

    .topnav.responsive .menu #nav-icon1 span {
        background-color: #fff;
    }

    .heada::after {
        left: 50%;
        bottom: -5px;
        transition-duration: 0.2s;
    }

    .dropdown:hover .dropdown-list {
        display: flex;
        z-index: 99999;
        padding-top: 5px;
        border-top: none;
        margin-left: -5px;
        align-items: center;
    }

    .dropdown-list a {
        color: #fff;
        margin: 1px !important;
        border-bottom: none;
        font-weight: thin;
        font-size: 15px !important;
    }

    .dropdown-list a:hover {
        border: none;
        color: var(--cyan) !important;
    }

}
@media screen and (max-width:400px) {
    .navbar{
        padding: 0;
    }
}